.container-sm .row .col-sm-2 .list-group{
    margin-top: 100px;
} 

.container-sm .row .col-sm-10{
    margin-top: 100px;
    margin-bottom: 100px;
} 

.footer {
    background-image: url(img/BGFooter.png); 
    height: 300px;
    margin-top: 100px;
}
.container-sm .row .col-sm-2 {
    margin-top: 30px;
}

.footer .container-sm .row hr{
    height: 1px;
    background-color: aliceblue;
}